.tier-category {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.category-text {
  margin: 0;
  color: #333;
  font-size: 1.2rem;
}

.category-actions {
  display: flex;
  gap: 5px;
}

.tier-items {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  min-height: 50px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.delete-button:hover {
  color: red;
}

.edit-button:hover {
  color: blue;
}

.move-button:hover {
  color: green;
}
